.contact {
  width: 300px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-radius: 4px;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.textWrapper {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 5px;
}

.deleteContactBtn {
  padding: 10px;
  border-radius: 4px;
}
